.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.container form img {
    width: 100px;
    margin: 10px 0 40px;
}

.container form input{
    background: rgb(61, 49, 87, 0.4);
    margin-top: 5px;
    border: 0px ;
    height: 48px;
    border-radius: 2px;
    padding: 0 20px;
    font-size: 16px; 
    color: #666; 
}

.container form input::placeholder{
    opacity: 20%;
    color: hsl(0, 0%, 100%, 0.3); 
}

.container form img{
    width: 100%
}

.container form button{
    margin-top: 10px;
    border: 0;
    
    height: 48px;
    font-size: 16px;
    background: rgb(241, 82, 93);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.container form a {
    margin-top: 10px;
    text-align: center;
    font-size: 12;
    font-weight: bold;
    color: #999;
    text-decoration: none;
}

.container form p {
    background-color:  rgb(236, 93, 112);
    color: #fff;
    margin-bottom: 15px;
    border: 1px solid  rgb(243, 81, 102);
    padding: 10px;
    text-align: center;
    float: right;
}

